/* * {


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* 27-01-26 */

/* body {
  height: 100vh;
}
#root {
  height: 100%;
} */
/* .wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #74ebd5, #acb6e5);
  background: linear-gradient(135deg, #74ebad, #95a4e5);
  padding-inline: 1rem;
}

.weather-app {
  width: 100%;
  max-width: 400px;
} */

/* .weather-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
} */

/* Search */
/* .search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
} */

/* .search-box input {
  flex: 1;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 0.938rem;
}

.search-box button {
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  background: #4a90e2;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
} */

/* Weather Info */
.weather-info {
  text-align: center;
}

.weather-icon {
  width: 90px;
  margin-bottom: 10px;
}

.temperature {
  font-size: 42px;
  font-weight: bold;
  color: #333;
}

.city {
  font-size: 22px;
  color: #555;
  margin-top: 4px;
}

.condition {
  font-size: 14px;
  color: #888;
  margin-top: 4px;
}

/* Extra Details */
.weather-details {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  padding-top: 16px;
  border-top: 1px solid #eee;
}

.detail {
  text-align: center;
}

.detail .label {
  font-size: 12px;
  color: #888;
}

.detail .value {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
